## create the DataBase

In [3]:
import pandas as pd
import sqlite3

# kaggle data link:
link = 'https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017'
# to the path below download from kaggle 3 csv files: results.csv, goalscorers.csv, shootouts.csv
path = 'C:/Users/Mark Rozenberg/Foobal-Climate/Data/footbal/'
# create sql database with 3 fotbal tables:
conn = sqlite3.connect('C:/Users/Mark Rozenberg/Foobal-Climate/Data/Main_DB.db')
pd.read_csv(path + 'results.csv').to_sql('results', conn)
pd.read_csv(path + 'goalscorers.csv').to_sql('goalscorers', conn)
pd.read_csv(path + 'shootouts.csv').to_sql('shootouts', conn)
conn.commit()

ValueError: Table 'results' already exists.

In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('C:/Users/Mark Rozenberg/Foobal-Climate/Data/Main_DB.db')

### updating results table

In [3]:
from unidecode import unidecode

# Fetch distinct cities from the results table
cities = pd.read_sql_query('SELECT DISTINCT city FROM results', conn)

# Apply unidecode to each city
cities['city_v2'] = cities['city'].apply(unidecode)

# Update the results table with the new city names
for index, row in cities.iterrows():
    conn.execute('''
    UPDATE results
    SET city = ?
    WHERE city = ?
    ''', (row['city_v2'], row['city']))

conn.commit()

In [9]:
# simple overview of the data:
fuf = pd.read_sql_query('SELECT * FROM results limit 5', conn)

In [8]:
test = print(pd.read_sql_query('''
SELECT tournament,
count(*) as games
FROM results
where tournament like '%Leag%'
group by 1
order by 2 desc
''', conn))

                              tournament  games
0                    UEFA Nations League    526
1                CONCACAF Nations League    351
2  CONCACAF Nations League qualification     68

In [10]:
test = print(pd.read_sql_query('''
SELECT city,
count(*) as games
FROM results
group by 1
order by 2 desc
''', conn))

              city  games
0     Kuala Lumpur    730
1          Bangkok    573
2             Doha    546
3           London    428
4         Budapest    425
...            ...    ...
2067      Acarigua      1
2068      Acapulco      1
2069      Aberdare      1
2070      Abeokuta      1
2071         Aarau      1

[2072 rows x 2 columns]